# Virtual Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables & secrets
.env
.env.*
*.env

# Output directory & Temporary files
output/
scratch/
*.log
data/raw/*
data/processed/*
!data/.gitkeep
!data/architecture.pdf
!data/diagram.png
